
<div id = "movietext">

<ol>
	<li><strong>First Selection: </strong><%= @firstSelection %></li>
	<li>Actual = <%= @firstBox %></li>

	<li><strong>Second Selection: </strong> <%= @secondSelection %></li>
	<li>Actual = <%= @secondBox %></li>

	<li><strong>Third Selection: </strong> <%= @thirdSelection %></li>
	<li>Actual = <%= @thirdBox %></li>

	<li><strong>Fourth Selection: </strong><%= @fourthSelection %></li>
	<li>Actual = <%= @fourthBox %></li>

</ol>

</div>
	
	You're round credits: _<%= @round_credits%>_

