
<div id = "movietext">

<ol>
	<li>First Selection <%= @firstSelection %></li>
	<li>1st Box Office  <%= @firstSelection %></li>

	<li>Second Selection New <%= @secondSelection %></li>
	<li>2nd Box Office  <%= @secondBox %></li>

	<li>Third Selection New <%= @thirdSelection %></li>
	<li>3rd Box Office  <%= @thirdBox %></li>

	<li>Fourth Selection New <%= @fourthSelection %></li>
	<li>4th Box Office  <%= @fourthBox %></li>

</ol>

</div>