
<div id = "movietext">

<ol>
	<li><strong>First Selection: </strong><%= @firstSelection %></li>
	<li>Actual = <%= @firstBox %></li>

	<li><strong>Second Selection: </strong> <%= @secondSelection %></li>
	<li>Actual = <%= @secondBox %></li>

	<li><strong>Third Selection: </strong> <%= @thirdSelection %></li>
	<li>Actual = <%= @thirdBox %></li>

	<li><strong>Fourth Selection: </strong><%= @fourthSelection %></li>
	<li>Actual = <%= @fourthBox %></li>

</ol>

</div>
	
	<% credit = 0;	%>
<% if @firstSelection == @firstBox %>
	"GALIS"
	<% credit = 10;	%>
<% else %>
	"Battyhole"
	<% credit = -10;	%>
<% end %>

You have _<%= credit %>_ credits